body {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  scrollbar-color: black grey;
  background-color: rgb(5, 5, 22);
  box-sizing: border-box;
  padding: 10px;
}

#creator-root {
  display: grid;
  grid-template-columns: 23vw 74vw;
  grid-template-rows: 8vh 88vh;
  grid-gap: 8px;
  max-height: 100vh;
  box-sizing: border-box;
}

/* Course Name */
.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Course Preview */
.two {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Item Holder */
.three {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.four {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}


.five {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.six {
  grid-column: 3;
  grid-row: 4;
}


/* Display */
#display {
  width: auto;
  height: auto;
  
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;
  border-width: 0.25ch;
  
  margin: 60px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

h5 {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: left;
}

h6 {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 200;
  color: #fff;

  text-align: justify;
}

#item-supplier {
  width: auto;
  height: auto;
  
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;
  border-width: 0.25ch;
  
  margin: 30px;
  padding: 25px;


  display: flex;
  flex-direction: column;
  position: relative;
}

#supplier-holder {
  width: auto;
  height: auto;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 10px;
}

#item-holder {
  width: auto;
  height: auto;

  border-width: 0.25ch;
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;

  overflow: scroll;
}

#item-holder::-webkit-scrollbar {
  display: none;
}

#avatar-holder {
  width: auto;
  height: auto;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#avatar-wrapper {
  width: fit-content;
  height: fit-content;
  position: 'absolute';
  top: 16;
  left: 16;
}

#item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: auto;
  height: 100px;

  margin: 25px;
  padding: 5px;

  border-width: 0.25ch;
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;

  background-color: rgb(180, 188, 241);
}

.img-preview {
  height: 100%;
  width: auto;
}

.img-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3px;

  margin-bottom: 10px;

  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;
  border-width: 0.25ch;
}

#media {
  height: 300px;
}


.img-widget {
  max-height: 50px;
  padding: 1px;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}

#course-preview {
  width: auto;
  height: auto;

  border-width: 0.25ch;
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;

  overflow: scroll;

}

#course-preview::-webkit-scrollbar {
  display: none;
}

#module {
  display: flex;

  height: fit-content;
  margin: 30px;
  padding: 25px;
}


#module-wrapper {
  width: 100%;
}

.widget-text {
  font-size: 16px;
  margin: 0;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

#widget {
  height: fit-content;
  margin: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #14B4C3;

  position: relative;

  border-width: 0.25ch;
  border-style: solid;
  border-color: #14B4C3;
  border-radius: 7px;

}

#widget-wrapper {
  width: auto;
  height: auto;
}

#widget-media {
  height: 80px;
}



