{% extends "base.html" %}
{% block title %}Branches{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href = "{{ url_for('static', filename='stylesheets/home.css') }}">
{% endblock %}

{% block content %}
<body>
  <h1>
    Branches
  </h1>
  <div id="branch-app">
    <div class="branch-1">
      <h4>Life Science</h4>
      {% for course in lsp.items %}
      <h5>{{ course.name }}</h5>
      {% endfor %}
    </div>
    <div class="branch-2">
      <h4>Earth Science</h4>
      {% for course in esp.items %}
      <h5>{{ course.name }}</h5>
      {% endfor %}
    </div>
    <div class="branch-3">
      <h4>Physical Science</h4>
      {% for course in psp.items %}
      <h5>{{ course.name }}</h5>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}