{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href = "{{ url_for('static', filename='stylesheets/home.css') }}">
{% endblock %}

{% block content %}
  <div id="app">
    <div class="container">
      <h2 class="username">{{ current_user.username }}</h2>
      <a id="button-start" href="{{ url_for('viewer', id=1) }}">
        Start
      </a>
    </div>
  </div>

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

  <!-- Load our React component. -->
  <script src="{{ url_for('static', filename='scripts/jsx/progress_bar.js') }}"></script>
{% endblock %}