{% extends "landing-template.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href = "{{ url_for('static', filename='stylesheets/landing.css') }}">
{% endblock %}

{% block content %}
<body>
  
    <div class="frame-1">
      <div id="login">
        <a href="{{ url_for('login') }}">Log In</a>
      </div>
    
      <h1>lookup</h1>
      <h3>Explore. Learn. Repeat.</h3>
    
      <div id="planet-container">
        <a href="{{ url_for('sign_up') }}" id="sign-up">
          Start game
        </a>
        <h3 id="planet"></h3>
      </div>
    </div>
</body>
{% endblock %}