{% extends "base.html" %}
{% block title %}Pathh{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href = "{{ url_for('static', filename='stylesheets/home.css') }}">
{% endblock %}

{% block content %}
{% import 'paginate.html' as paginate %}
  <div class="flex">
    <div id="app">
      <div class="wrapper subtitle">
        <h1>Path</h1>
      </div>
      <div id="course-pagination-path">
        {{ paginate.render_courses(page, db, User) }}
      </div>
    </div>
  </div>
{% endblock %}